.container{
    width: 15rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 11px;


    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        border: 1px solid #0099ff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 11px;
    }

    .locale{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 3rem;
        }
    }
    .infos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
    }
}